<!--Card for intern information-->

<div class="card hovercard">
    <div class="cardheader">
        <div class="card-heading">
            Malik
        </div>

        <div class="role">
            <img src="../images/Intern.ico"></img>
           Intern
        </div>
    </div>
    <div class="card-body">
        <div class="desc">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: 3</li>
                <li class="list-group-item">Email: Malik@fakeschool.com</li>
                <li class="list-group-item">School: University of Fake</li>
            </ul>
        </div>
    </div>
</div>