<!--Card for the Manager Information-->

<div class="card hovercard">
    <div class="cardheader">
        <div class="card-heading">
           Kyle
        </div>

        <div class="role">
            <img src="../images/Manager.ico"></img>
           Manager
        </div>
    </div>
    <div class="card-body">
        <div class="desc">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID: 1</li>
                <li class="list-group-item">Email: Kyle@fakemail.com</li>
                <li class="list-group-item">Office: 800-999-2343</li>
            </ul>
        </div>
    </div>
</div>